.plan-div{
    min-height: 40vh;
    height: 100%;
    text-align: center;
    padding: 1vh;
    background-color: #252a35;
    border : 1px solid #1c202b;
}

.plan-div-border{
    border: 1vh solid #282c34;
}

.plan-div ul{
    text-align: left;
}

.plan-price{
    justify-content: center
}
