.not-found {
    height: 80vh;
    width: 100vw;
    background-image: url("/static/404.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    margin: 0;
    padding: 0;
}

.not-found-text{
    right: 10%;
    position: absolute;
    bottom: 50%;
    color: #272727;
}